.grsp-grid-gallery {
  .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    height: calc((100% - 30px) / 2) !important;
    margin: 0 !important;
  }

  .swiper-slide.first-image.swiper-slide-active {
    width: 100% !important;
    height: 100% !important;
  }
}
