@import "./layout.tokens.scss";

.grsp-layout {
    display: flex;

    &__first {
        width: var(--grsp-layout-first-column-width);
    }

    &__second {
        width: var(--grsp-layout-second-column-width);
    }

    &--2 {
        gap: 3em;
    }
}