.grsp-review-list {
  display: flex;
  gap: 2em;
  justify-content: center;

  &__date {
    color: var(--kiwi-core-neutral-400);
    font-size: var(--kiwi-core-fs-14);
  }

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.kiwi-text-card {
  max-width: 400px;

  @media (max-width: 1024px) {
    max-width: 100%;
  }
}
