.grsp-opening-hours {
    height: 100%;

    &__title {
        margin-bottom: 1.5rem;
    }

    .kiwi-text-card {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }  
}