a {
  text-decoration: none;
  transition: var(--kiwi-core-medium-transition);

  &:hover {
    color: var(--kiwi-semantic-primary-contrast);
    transition: var(--kiwi-core-medium-transition);
  }
}

section {
  padding: 50px 100px;
}

.swiper {
  z-index: 0;
}
