.grsp-city-header {
  position: relative;

  &__overlay {
    background-color: var(--kiwi-core-neutral-600); 
    opacity: 50%;
    position: absolute;
    z-index: 1;
    inset: 0;
  }

  &__image {
    padding: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__title {
    color: var(--kiwi-core-white);
  }
}
