.grsp-business-page__no-reviews {
    margin: 0 auto;
    border: 1px solid var(--kiwi-semantic-primary);
    border-radius: var(--kiwi-core-br-12);
    padding: 24px;
    width: 100%;
    text-align: center;
    width: 50%;

    .kiwi-notice-message {
        margin: 0 auto;
        margin-top: 2rem;
    }
}