@import "./layout.tokens.scss";

.grsp-layout {
    display: flex;
    flex-direction: row;

    &__first {
        width: var(--grsp-layout-first-column-width);
        @media (max-width: 1024px) {
            width: 100%;
        }
    }

    &__second {
        width: var(--grsp-layout-second-column-width);
        @media (max-width: 1024px) {
            width: 100%;
        }
    }

    &--1 > div {
        width: 100%;
    }

    &--2 {
        gap: 3em;
    }

    @media (max-width: 1024px) {
        flex-direction: column;
    }
}