.grsp__header {
    background-image: url("../../../../assets/images/hero-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 242px 0;
    width: 100%;
    text-align: center;
    margin: auto;

    .grsp__header__container {
        width: 50%;
        margin: auto;
    }

    h1 {
        color: #fff;
        margin-bottom: 24px;
        font-size: var(--kiwi-core-fs-64);
    }

    .kiwi-searcher {
        width: 100%;
    }
}