.grsp-business-page {
    --grsp-layout-first-column-width: 70%;
    --grsp-layout-second-column-width: 30%;

    &__opening-day {
        text-align: right;
    };

    &__opening-hours, &__address {
        font-weight: 500;
        color: var(--kiwi-core-neutral-400);
    }

    &__image {
        width: 500px;
    }
}